---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';

const posts = await getCollection('blog').then((collection) =>
  collection.reverse()
);
---

<Layout
  title='Blog'
  description='Blog | Aqui podras encontrar todas las publicaciones'
  pageTitle='Blog'
>
  <main class='bg-pink p-6'>
    <BlogList posts={posts} />
  </main>
</Layout>
