---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
---

<Layout
  title='Inicio'
  pageTitle='Inicio'
  description=''
>
  <main class='bg-pink p-6'>
    <MobileSocials />
    <RecentBlogPosts />
  </main>
</Layout>
